{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="text-center"><H1>Articles index</H1></div>
        <a href="{{ path('app_index') }}">Retour à l'accueil</a>
    </div>


    <div class="container">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Slug</th>
                    <th>Tags</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}

                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.content }}</td>
                    <td>{{ article.slug }}</td>
                    <td>
                        {% for tag in article.tags %}
                            <li>{{ tag.name }} </li>
                        {% else %}
                            <li>Pas de tags pour cet article</li>
                        {% endfor %}
                    <td>
                        <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                        {% if is_granted('ROLE_AUTHOR') %}
                            <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                        {% endif %}
                    </td>

                </tr>

            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('article_new') }}">Create new</a>
    </div>

{% endblock %}
