{# templates/blog/show_tag.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron">
        <div class="text-center"><H1>Tags</H1></div>
        <a href="{{ path('app_index') }}">Retour à l'accueil</a>
    </div>


<div class="container">
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Tags</th>
            <th scope="col">Articles</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <th scope="row">{{ tag.id }}</th>
                <th><a href="{{ tag.name }}">{{ tag.name }}</a> </th>
                <td>
                    {% for article in tag.articles %}
                        <p>{{ article.title }}</p>
                    {% else %}
                        Aucun tag trouvé.
                    {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}